# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test


# Go workspace file
go.work

# IDE files
.idea/
*.swp
*.swo

# Logs
*.log

# Temporary files
*.tmp
*.temp


# Project tools and Helm repository
bin/
helm-repo/ 